<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKIN</title>
    <link rel="stylesheet" type="text/css" href="cardstyle.css">
</head>
<body>
    <div class="card">
        <div class="imgbx">
            <img src="docimg-removebg-preview.png">
        </div>
        <div class="details">
            <h3>mclAKJDFLCAEF<br><span>kmdslkv</span></h3>
            <h4>bvsxvhg</h4>
            <p>uy7</p>
            <h4>bokachoda details</h4>
            <p>hdiuwd</p>
            <h4>humpty dumpty details er area</h4>
            <ul class="size">
                <li>a</li>
                <li>b</li>
                <li>c</li>
                <li>d</li>
                <li>e</li>
            </ul>
            <div class="group">
                <h2><sup>$</sup><small>.99</small></h2>
                <a href="#">buy now</a>
            </div>
        </div>
    </div>
</body>
</html>
